div {
	width: 200px;
	height: 200px;	
	border: 2px solid black;
	margin: 10px;
	background: grey;
}

.caja{
	height: 230px;
	width: 700px;
}

.bloque{
	display: inline-block;
}

.izquierdo	{
	display: inline-block;
}

